spring:
  application:
    name: language-teacher-bot
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

server:
  port: 8081

telegram:
  bot:
    token: ${TELEGRAM_BOT_TOKEN:}
    username: LearnCardChinese

logging:
  level:
    com.example.languageteacherbot: DEBUG
    org.telegram: INFO